.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  max-width: 800px;
  gap: 20px;
}

.text-container p {
  font-size: 1.5rem;
}

.photo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 500px;
  height: auto;
}

@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    min-height: auto;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .text-container {
    max-width: 100%;
    gap: 16px;
    font-size: 1rem;
    text-align: left;
  }

  .text-container p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .photo-container {
    margin-top: 15%;
    width: 80%;
  }

  .logo-img {
    max-width: 80%;
    height: auto;
  }
}
