.navigation-container {
  display: flex !important;
  justify-content: space-between !important;
  padding: 20px 10px;
  background-color: #132a13;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.first-section {
  display: flex;
  align-items: center;
  gap: 0px 10px;
  color: #ecf39e;
}

.second-section {
  display: flex;
  align-items: center;
  gap: 0px 10px;
}

@media (min-width: 600px) {
  .sidebar-nav {
    display: none;
  }
}
