.projects-title-container {
  background-color: rgba(0, 0, 0, 0.3);
}

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 0px 10px;
}

.description-container button {
  padding: 5px 20px;
  background-color: #121913;
  color: white;
  border: 2px solid #4f772d;
  margin-bottom: 10px;
}

.description-container button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  align-self: start;
}

@media (max-width: 600px) {
  .project-container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    padding-left: 10px;
    gap: 20px;
  }

  .description-container {
    align-items: center;
    text-align: center;
    padding: 0px 20px;
  }

  .description-container button {
    width: 100%;
    max-width: 250px;
    font-size: 1rem;
  }

  .card {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
